@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins';
}

:root {
    --cor-principal: #023F42;
    --cor-secundaria: #CEA571;
    --cor-auxiliar: #F9F4F1;
}

body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(174deg, #005159 2.34%, rgba(1, 6, 6, 0.72) 94.29%), #013E41;
}

[data-animation] {
    opacity: 0;
    transition: all 300ms ease-out;

}

[data-animation-2] {
    opacity: 0;
    transition: all 500ms ease-out;

}

[data-delay-1] {
    transition-delay: 400ms;
}

[data-delay-2] {
    transition-delay: 600ms;
}

[data-delay-3] {
    transition-delay: 800ms;
}

[data-animation="slice"] {
    transform-origin: left;
    transform: scaleX(0);
}

[data-animation-2="size_line"] {
    transform: scaleY(0);
    transform-origin: top;
}

[data-animation-2="size_line_2"] {
    transform: scaleX(0);
    transform-origin: right;
}

.line_animation {
    position: absolute;
    width: 2px !important;
    height: 410px !important;
    background-color: #FFFFFF;
    bottom: -440px;
    z-index: 1;
}

.line_animation_2 {
    position: absolute;
    width: 100% !important;
    max-width: 500px !important;
    height: 2px !important;
    background-color: #FFFFFF;
    bottom: -440px;
    left: -80px;
    z-index: 1;
}

[data-animation="down"] {
    transform: translate3d(0, 20px, 0);
}

[data-animation="left"] {
    transform: translate3d(-20px, 0, 0);
}

[data-animation="right"] {
    transform: translate3d(20px, 0, 0);
}

[data-animation].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
    transform: scaleX(1);
    transform: scaleY(1);
    transform-origin: left;
    width: 100%;
    max-width: max-content;
}


[data-animation-2].animate2 {
    opacity: 1;
    transform: scaleY(1);
    transform: scaleX(1);
    height: -webkit-fill-available;

}

.bg_header {
    position: absolute;
    top: 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.67) 0%, rgba(0, 0, 0, 0.53) 44.42%, rgba(0, 0, 0, 0.00) 100%);
    backdrop-filter: blur(2px);
    height: 100%;
    width: 100%;
    z-index: -1;
}

.container_menu {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 99;
    transition: all ease 300ms;

}

.container_menu_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}

.area_menu a {
    display: flex;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.menu_mobile {
    display: none;
}

.menu_mobile_open {
    display: none;
}

.menu_mobile_close {
    display: none;
}

.menu_desktop {
    width: 100%;
    max-width: max-content;
}

nav ul li a {
    color: var(--cor-auxiliar);
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 4.86px;
    text-transform: uppercase;
    text-decoration: none;
}

.simili_logo_dourado {
    max-width: 150px;
    width: 100%;
}

/*Header*/

#container_header {
    /*background-image: url(img//bg_header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 719px;
    width: 100%;
    position: relative;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#container_header video {
    position: relative;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

.container_header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container_header_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}

.area_container_header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.simili_logo_branco {
    max-width: max-content;
    width: 100%;
}

.title_header h2 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 5.4px;
    text-transform: uppercase;
    margin: 0px;
}

.box {
    position: absolute;
    bottom: -1px;
    height: 190px;
    width: 100%;
    z-index: 1;
}

/*Ambiente*/

.container_ambiente {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0px 40px 0px;
    background: linear-gradient(174deg, #005159 2.34%, rgba(1, 6, 6, 0.72) 94.29%), #013E41;
}

.container_ambiente_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.area_ambiente {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    width: 100%;
    position: relative;
}

.area_texts_ambiente {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    max-width: 1000px;
}

.title_ambiente h2 {
    color: var(--cor-secundaria);
    font-size: 26px;
    font-weight: 600;
    line-height: 115%;
    letter-spacing: 7.02px;
    text-transform: uppercase;
    margin: 0px;
}

.area_infos_ambiente {
    border-radius: 14px;
    border: 1px solid #CDA558;
    width: 100%;
    max-width: 800px;
    padding: 30px 0px;
}

.area_infos_ambiente_int {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 25px;
    position: relative;
}

.info_ambiente h1 {
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 400;
    line-height: 100%;
    margin: 0px;
}

.swiper_2 {
    width: 100%;
    overflow-x: hidden;
}

.area_slide_principal_total {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.slide_principal {
    transition: all ease 500ms;
}

[aria-hidden='false'] {
    opacity: 1;
    max-height: auto;
    transform: scaleY(1);
    transform-origin: top;
}

[aria-hidden='true'] {
    max-height: 0px;
    opacity: 0;
    transform: scaleY(0.1);
    transform-origin: top;
}

.btns_slide {
    transition: all ease 300ms;
    transform: scale3d(1, 1, 1);
}

.btns_slide.selected {
    transform: scale3d(1.1, 1.1, 1.1);
}

.area_options_slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    gap: 40px;
    position: absolute;
    left: 20px;
    z-index: 1;

}

.area_options_slide img {
    cursor: pointer;
    transition: all ease 200ms;
}

.area_options_slide img:hover {
    transform: scale3d(1.1, 1.1, 1.1);
}


.area_gb1k_1 {
    position: relative;
    background-image: url(img/bg_gb1k_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 745px;
    width: 100%;
}


.area_gb1k_2 {
    position: relative;
    background-image: url(img/bg_gb1k_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 745px;
    width: 100%;
}


.area_gb1k_3 {
    position: relative;
    background-image: url(img/bg_gb1k_3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 745px;
    width: 100%;
}

.bg_slide {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
    max-width: 1440px;
    z-index: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 35%, rgba(0, 0, 0, 0.00) 65%), linear-gradient(90deg, rgba(0, 0, 0, 0.50) 17.96%, rgba(0, 0, 0, 0.00) 90.01%), linear-gradient(90deg, rgba(99, 65, 0, 0.40) 21.85%, rgba(6, 4, 0, 0.1) 60%, rgba(201, 189, 165, 0.00) 100%);
}

.swiper_2 .swiper-pagination {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    width: 100% !important;
    bottom: 40px !important;
}

.area_text_gb1k {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 100%;
    max-width: 600px;
    position: relative;
    padding-left: 140px;
}

.title_gb1k h2 {
    color: var(--cor-secundaria);
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 5.4px;
    text-transform: uppercase;
    margin: 0px;
}

.sub_title_gb1k p {
    color: var(--cor-auxiliar);
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
    margin: 0px;
}


#container_banner {
    background-image: url(img//banner_gbk1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    width: 100%;
}

.container_banner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(113deg, rgba(1, 17, 18, 0.34) 26.32%, rgba(6, 26, 28, 0.00) 65.13%);
}

.container_banner_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.area_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.title_banner h2 {
    color: #CDA558;
    font-family: 'Montserrat';
    font-size: 72px;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 7.02px;
    text-transform: uppercase;
    margin: 0px;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, .4));
}

.sub_title_banner p {
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 42px;
    font-weight: 400;
    line-height: 115%;
    margin: 0px;
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, .4));
}


/*Modelos*/

.container_modelos {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 60px 0px 60px 0px;
}

.bg_traco_modelo {
    position: absolute;
    top: 48px;
    z-index: -1;
    max-width: max-content;
    width: 100%;
}

.bg_traco_modelo_2 {
    position: absolute;
    z-index: -1;
    left: 500px;
    max-width: max-content;
    top: -600px;
}

.bg_traco_modelo_3 {
    position: absolute;
    z-index: -1;
    left: 500px;
    max-width: max-content;
    top: 40px;
}

.bg_traco_modelo_4 {
    position: absolute;
    z-index: -1;
    left: 500px;
    max-width: max-content;
    top: 720px;
}

.container_modelos_int {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 60px;
    width: 100%;
}

.area_modelos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 80px;
    width: 100%;
}

.title_informacoes h2 {
    color: var(--cor-secundaria);
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 7.02px;
    text-transform: uppercase;
    margin: 0px;
}

.modelo_1 {
    background-image: url(img/modelo_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    width: 100%;
    position: relative;
}

.modelo_2 {
    background-image: url(img/modelo_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    width: 100%;
    position: relative;
}

.modelo_3 {
    background-image: url(img/modelo_3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    width: 100%;
    position: relative;
}

.modelo_4 {
    background-image: url(img/modelo_5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
    width: 100%;
    width: 100%;
    position: relative;
}


.bg_modelo {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    background: linear-gradient(257deg, rgba(0, 0, 0, 0.32) 28.29%, rgba(0, 0, 0, 0.00) 59.33%), linear-gradient(270deg, rgba(0, 0, 0, 0.40) 17.96%, rgba(0, 0, 0, 0.00) 60%), linear-gradient(272deg, rgba(23, 23, 23, 0.69) 20%, rgba(6, 4, 0, 0.5) 40%, rgba(201, 189, 165, 0.00) 60%);
    z-index: 0;
}

.area_text_modelo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 95%;

}

.area_text_modelo_int {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 420px;
    position: relative;
}


.area_text_modelo_int_2 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 500px;
    position: relative;
}

.area_text_modelo_int_3 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 680px;
    position: relative;
}


.bg_linha_1 {
    position: absolute;
    max-width: max-content;
    width: 100%;
    bottom: -20px;
    left: -40px;
    max-width: max-content;
    width: 100%;
}

.bg_linha_2 {
    position: absolute;
    max-width: max-content;
    width: 100%;
    bottom: -40px;
    right: 0px;
    max-width: max-content;
    width: 100%;
}

.title_modelo h2 {
    color: #FFF;
    font-size: 24px;
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 6.48px;
    text-transform: uppercase;
    margin: 0px;
    text-align: end;
}

#container_banner_2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

#container_banner_2 img {
    width: 100%;
    height: auto;
    max-width: max-content;
}

#container_banner_3 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 60px;
}

#container_banner_3 img {
    width: 100%;
    height: auto;
    max-width: max-content;
}

/*Acustico*/

#container_acustico {
    background-image: url(img/banner_acustico.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
}

.container_acustico {
    display: flex;
    justify-content: center;
    /*background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(113deg, rgba(1, 17, 18, 0.34) 26.32%, rgba(6, 26, 28, 0.00) 65.13%);*/
    box-shadow: 0px 18px 50px 24px rgba(0, 0, 0, 0.25) inset;
    width: 100%;
    height: 100%;
    position: relative;
}

.icon_left {
    position: absolute;
    left: 0px;
    max-width: max-content;
    width: 100%;
    z-index: -1;
}

.icon_right {
    position: absolute;
    right: 0px;
    max-width: max-content;
    width: 100%;
    z-index: -1;
}

.container_acustico_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    padding: 60px 0px 60px 0px;
}


.area_acustico {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.piano_vetor {
    max-width: max-content;
    width: 100%;
    height: auto;
}

.area_text_acustico {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 800px;
}

.title_acustico h2 {
    color: var(--cor-secundaria);
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.title_acustico h2 b {
    font-weight: bold;
}

.sub_title_acustico p {
    color: var(--cor-secundaria);
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.container_swiper {
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(174deg, #005159 2.34%, rgba(1, 6, 6, 0.72) 94.29%), #013E41;
    padding: 60px 0px 60px 0px;
}

.container_swiper_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.area_swiper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 40px;
}

.swiper .swiper-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;

}

.swiper-slide img {
    height: auto;
}

.swiper {
    width: 100%;
    max-width: 800px;
    height: 100%;
}

.swiper-slide-prev,
.swiper-slide-next {
    backdrop-filter: blur(3px);
}


.swiper-button-next,
.swiper-button-prev {
    color: #CEA571 !important;
    border-radius: 100px;
    background: linear-gradient(168deg, #05555C 9.14%, #004248 91.1%);
    box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.25);
    width: 65px !important;
    height: 65px !important;
}

.swiper .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    bottom: -40px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: linear-gradient(237deg, #CEA571 30.33%, #6F3E00 125.96%) !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 100px !important;
}


.swiper-pagination-bullet {
    background: linear-gradient(243deg, #CEA571 -251.82%, #6F3E00 130.85%) !important;
    opacity: 1 !important;
    width: 15px !important;
    height: 15px !important;
    border-radius: 100px !important;
    transition: all ease 200ms;
}

.area_infos_swiper {
    border-radius: 14px;
    border: 1px solid #CDA558;
    width: 100%;
    max-width: 400px;
    padding: 20px 0px;
}

.area_infos_swiper_int {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.info_swiper h1 {
    color: var(--cor-secundaria);
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}


.area_texts_swiper {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    width: 100%;
    max-width: 1020px;
    padding-top: 40px;
}


.title_swiper h2 {
    color: var(--cor-secundaria);
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    margin: 0px;
}

.sub_title_swiper p {
    color: var(--cor-secundaria);
    font-size: 20px;
    font-weight: 400;
    line-height: 135%;
    margin: 0px;
}

footer {
    background: var(--cor-secundaria);
    box-shadow: 0px 69px 58px -36px rgba(111, 62, 0, 0.74) inset;
    width: 100%;
}

.container_footer {
    display: flex;
    justify-content: center;
    background-image: url(img/bg_footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 670px;

}

.container_footer_int {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1280px;
}


.area_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.area_texts_footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 420px;
    width: 100%;
}


.title_footer h2 {
    color: var(--cor-principal);
    font-size: 40px;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 10.8px;
    text-transform: uppercase;
    margin: 0px;
}

.sub_title_footer p {
    color: #013E41;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.area_redes {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.area_redes a {
    display: flex;
    justify-content: center;
}







@media(min-width: 1920px) {
    .box {
        display: none;
    }
}

@media(max-width: 1024px) {
    nav ul {
        display: none;
    }

    .menu_desktop {
        display: none;
    }

    .menu_mobile_open {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8px;
        padding: 12px 8px;
        border-radius: 10px;
    }

    .menu_mobile nav ul li a:hover {
        color: #fff;
    }

    @keyframes move {
        0% {
            top: -100%;

        }

        100% {
            top: 150px;
        }

    }

    .menu_mobile_close {
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 8px;
        margin: 0px 20px 0px 20px;
        height: 49px;
    }

    .line_1 {
        transform: rotate(130deg);
        position: absolute;
    }

    .line_2 {
        position: absolute;
        transform: rotate(50deg);
    }

    .area_menu {
        padding: 20px 20px;
    }

    .menu_mobile_close div {
        width: 40px;
        height: 3px;
        border-radius: 100px;
        background: #FFFFFF;
        box-shadow: 4px 2px 4px rgb(255 255 255 / 40%);
    }

    nav {
        width: 100%;
    }

    .menu_mobile_open div {
        width: 40px;
        height: 3px;
        border-radius: 100px;
        background: #FFFFFF;
        box-shadow: 4px 2px 4px rgb(255 255 255 / 40%);
    }

    .menu_mobile {
        transition: all ease-in 300ms;
        display: none;
        width: 100%;
        position: absolute;
        top: 150px;
        left: 0px;
        background: linear-gradient(174deg, #005159 2.34%, rgba(1, 6, 6, 0.72) 94.29%), #013E41;
        /*box-shadow: 0px 10px 10px rgba(255, 255, 255, 0.26);*/
        z-index: 10;
        padding: 20px 0px 20px 0px;
    }

    .menu_mobile nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .menu_mobile nav ul li a {
        font-size: 18px;
    }

    .simili_logo_branco {
        max-width: 200px;
    }

    .box {
        display: none;
    }

    /*Container ambiente*/

    .area_infos_ambiente {
        max-width: 650px;
    }

    /*Container slide principal*/

    .area_texts_ambiente {
        width: auto;
        text-align: center;
    }

    .title_ambiente h2 {
        font-size: 22px;
    }

    .info_ambiente h1 {
        font-size: 18px;
    }

    .area_gb1k_1,
    .area_gb1k_2,
    .area_gb1k_3 {
        height: 650px;
    }

    .area_options_slide {
        justify-content: flex-start;
    }

    .line_animation {
        width: 2px !important;
        height: 360px !important;
        bottom: -390px;
    }

    .line_animation_2 {
        max-width: 435px !important;
        height: 2px !important;
        bottom: -390px;
        left: 0px;
    }

    /*Banner*/
    #container_banner {
        height: 500px;
    }

    .title_banner h2 {
        font-size: 50px;
    }

    .sub_title_banner p {
        font-size: 32px;
    }


    .container_modelos {
        padding: 40px 0px 40px 0px;
    }

    .title_informacoes h2 {
        font-size: 22px;
    }

    .modelo_1,
    .modelo_2,
    .modelo_3,
    .modelo_4 {
        height: 500px;
    }

    .bg_traco_modelo_2,
    .bg_traco_modelo_3,
    .bg_traco_modelo_4 {
        left: auto;
    }

    .bg_traco_modelo_2 {
        top: -400px;
    }

    .bg_traco_modelo_4 {
        top: 975px;
        height: 50%;
    }

    /*Container acustico*/
    #container_acustico {
        height: 400px;
    }

    .container_acustico_int {
        padding: 60px 0px 60px 0px;
    }

    .area_acustico {
        padding: 0px 20px;
    }

    .title_acustico h2 {
        font-size: 18px;
    }

    .sub_title_acustico p {
        font-size: 18px;
    }


    .swiper-cards {
        overflow: hidden !important;
    }

    .swiper .swiper-pagination {
        display: none;
    }

    .area_texts_swiper {
        padding: 20px 20px 0px 20px;
        width: auto;
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 40px !important;
        height: 40px !important;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 25px !important;
    }

    .title_swiper h2 {
        font-size: 22px;
    }

    .sub_title_swiper p {
        font-size: 18px;
    }


    .container_footer {
        height: 500px;
    }

    .title_footer h2 {
        font-size: 32px;
    }

    .sub_title_footer p {
        font-size: 18px;
    }

    #container_banner_3 {
        padding-bottom: 40px;
    }

    .area_footer {
        padding: 0px 20px;
    }


}

@media(max-width: 768px) {

    .area_gb1k_1,
    .area_gb1k_2,
    .area_gb1k_3 {
        display: flex;
        justify-content: center;
        height: 450px;
    }

    .title_gb1k h2 {
        filter: drop-shadow(0 3px 3px rgba(0, 0, 0, .4));
    }

    .sub_title_gb1k p {
        filter: drop-shadow(0 3px 3px rgba(0, 0, 0, .4));
        font-size: 18px;
    }

    .area_options_slide img {
        cursor: pointer;
        max-width: 60px;
        width: 100%;
    }

    .area_options_slide {
        justify-content: center;
    }

    .area_text_gb1k {
        text-align: center;
        padding-left: 0px;
        max-width: 460px;
    }


    .container_acustico_int {
        padding: 40px 0px 40px 0px;
    }

    /*Container swiper*/
    .container_swiper {
        padding: 40px 0px 40px 0px;
    }

    .area_swiper {
        gap: 25px;
    }

    .area_texts_swiper {
        padding: 20px 20px 0px 20px;
    }

    #container_header video {
        height: 100%;
    }

    .line_animation {
        width: 2px !important;
        height: 220px !important;
        bottom: -250px;
    }

    .line_animation_2 {
        max-width: 435px !important;
        height: 2px !important;
        bottom: -250px;
        left: auto;
    }



}


@media(max-width: 480px) {
    @keyframes move {
        0% {
            top: -100%;

        }

        100% {
            top: 140px;
        }

    }

    .area_menu {
        padding: 10px 20px;
    }

    #container_header video {
        margin-top: 140px;
        height: auto;
    }

    .simili_logo_dourado {
        max-width: 120px;
        width: 100%;
    }

    .title_ambiente h2 {
        font-size: 20px;
    }

    .simili_logo_branco {
        max-width: 120px;
        margin-top: 20px;
    }

    .line_animation {
        width: 2px !important;
        height: 180px !important;
        bottom: -210px;
    }

    .line_animation_2 {
        max-width: 435px !important;
        height: 2px !important;
        bottom: -210px;
        left: auto;
    }

    /*Container slide*/
    .area_options_slide {
        justify-content: center;
        height: max-content;
        top: 40px;
        left: 80px;
        flex-direction: row;
    }

    .area_gb1k_1,
    .area_gb1k_2,
    .area_gb1k_3 {
        display: flex;
        justify-content: center;
        height: 400px;
    }

    .title_gb1k {
        margin-top: 20px;
    }

    .area_text_gb1k {
        padding: 0px 20px 0px 20px;
    }

    .area_options_slide img {
        box-shadow: 0px 18px 50px 24px rgba(0, 0, 0, 0.25) inset;
        border-radius: 10px;
    }

    .swiper-slide img {
        height: auto;
        width: 100%;
    }

    #container_banner {
        height: 400px;
    }

    .title_banner h2 {
        font-size: 32px;
    }

    .sub_title_banner p {
        font-size: 28px;
    }

    .title_informacoes h2 {
        font-size: 20px;
    }

    .title_modelo h2 {
        font-size: 22px;
    }

    .area_modelos {
        gap: 60px;
    }

    .modelo_1,
    .modelo_2,
    .modelo_3,
    .modelo_4 {
        height: 400px;
    }

    /*Container acustico*/
    .icon_left {
        max-width: 250px;
    }

    .icon_right {
        max-width: 250px;
    }

    /*Container ambiente*/
    .area_ambiente {
        gap: 40px;
    }

    .title_swiper h2 {
        font-size: 20px;
    }

    .area_texts_ambiente {
        padding: 0px 20px;
        gap: 20px;
    }

    .area_infos_ambiente_int {
        gap: 10px;
        justify-content: center;
    }


    /*Container footer*/
    .container_footer {
        height: 380px;
    }

    .title_footer h2 {
        font-size: 26px;
    }

}